.app__title{
  margin-top:10px;
  font-size: 36px;
  font-weight: 100;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.app__paginacion{
  display:flex;
  align-items: center;
  flex-direction: row;
  
}

